@model My_Personal_Website.Models.HomeModel

@{
    My_Personal_Website.Models.ApplicationDbContext db = new My_Personal_Website.Models.ApplicationDbContext();

    List<string> imgPaths = db.CVEducation.Select(x => x.ImgPath).ToList();
    
}
@Html.Hidden("txtId")
<!-- Info Modal -->
<div class="modal fade" id="InfoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title" style="color:white;">
                    <span class="glyphicon glyphicon-lock"></span>
                    Info
                </h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">

                <button type="submit" id="btnLogin" class="btn btn-success" data-dismiss="modal">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Close
                </button>
            </div>

        </div>

    </div>
</div>